* {
    box-sizing: border-box; /* Inclui padding e border nas dimensões totais */
}

body {
    margin: 0;
    
   
    
    
    background: url("https://thumbs.dreamstime.com/b/linha-do-vetor-das-constru%C3%A7%C3%B5es-da-cidade-de-brasil-skyline-bras%C3%ADlia-esta-ilustra%C3%A7%C3%A3o-representa-com-suas-mais-not%C3%A1veis-o-%C3%A9-141348877.jpg") no-repeat bottom center  fixed;

    
}

.container {
    display: flex; /* Usado para alinhar o menu e o conteúdo lado a lado */
    
}

.sidebar {
    width: 40px; /* Largura inicial do menu lateral */
    background-color: #0a0a0a; /* Cor de fundo do menu */
    color: white; /* Cor do texto */
    padding: 20px; /* Espaçamento interno */
    height: 100vh; /* Altura total da tela */
    position: fixed; /* Fixa o menu lateral na tela */
    transition: width 0.3s; /* Transição suave para a largura */
    overflow: hidden; /* Esconde o conteúdo que ultrapassa a largura */
}

.sidebar h2 {
    margin-top: 0; /* Remove margem superior do título */
}

.sidebar ul {
    list-style-type: disc; /* Remove os marcadores da lista */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Alinha os itens da lista ao centro */
}

.sidebar ul li {
    margin: 20px 0;
    align-items: right;
}

.sidebar ul li a {
    color: white; /* Cor do texto dos links */
    text-decoration: none; /* Remove sublinhado dos links */
    transition: color 0.3s; /* Transição suave de cor */
    font-size: 20px;
    text-align: right;
}

.sidebar ul li a:hover {
    color: #007BFF; /* Cor do link ao passar o mouse */
}

.main-content {
    margin-left: 70px; /* Espaço para o menu lateral contraído */
    padding: 50px; /* Espaçamento interno */
    transition: margin-left 0.3s; /* Transição suave para a margem */
}

.sidebar:hover ~ .main-content {
    margin-left: 275px; /* Espaço para o menu lateral expandido */
}

.logo {
    width: 100%; /* A logomarca ocupará 100% da largura do contêiner */
    max-width: 120px; /* Define um limite de largura para a logomarca */
    margin-left: 30px;
    height: auto; /* A altura será ajustada automaticamente para manter a proporção */
    margin-bottom: 15px; /* Espaçamento abaixo da logomarca */
    display: flex;
    justify-content: center;

}
.main-content{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 30px; 
    color: rgb(13, 13, 14);
    padding: auto;
    border: 2px #0a0a0a;
  }


#dataForm{
    position: relative;
    top: 20px;
    right: 20px;
    width: 80%;
    height: auto; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;


}
form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
} 
    
.form-group {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
   justify-content: space-between;
}
label {
    margin-right: 10px;
    margin-bottom: 5px;
    flex: 1;
}
input, textarea, button {
    width: 150px;
    padding: 10px;
    margin: 5px 5px 5px 0;
    box-sizing: border-box;
}


button {
    background-color: #4133fd;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
}
button:hover {
    background-color: #3fc4f8;
}